.vscode/settings.json
**/*.code-workspace
.idea/
**/*.pyc
__pycache__/
**/__pycache__/
.venv/
env/
dist/
build/
bayescalc.egg-info/
.pytest_cache/
*.pdf
*.backup
.bayescalc_history
bayescalc2.egg-info
.coverage
coverage.xml
htmlcov/
*.png
*.jpg
*.jpeg
*.gif
*.svg
